{% extends 'core/base.html' %}
{% block title %}Checkout - DigiStore{% endblock %}
{% block content %}
<h3>Checkout</h3>
<form method="post">{% csrf_token %}
  <div class="row g-3">
    <div class="col-md-6"><input class="form-control" name="full_name" placeholder="Full name"></div>
    <div class="col-md-6"><input class="form-control" name="email" placeholder="Email"></div>
    <div class="col-12"><textarea class="form-control" name="address" placeholder="Address"></textarea></div>
    <div class="col-12"><button class="btn btn-danger">Place Order</button></div>
  </div>
</form>
{% endblock %}