{% extends 'core/base.html' %}
{% block title %}
  Change Password - DigiStore
{% endblock %}

{% block content %}
  <div class="card mx-auto p-4 mt-4" style="max-width:720px">
    <h3 class="mb-4">Change Password</h3>

    <form method="post">
      {% csrf_token %}
      {{ form.non_field_errors }}

      <div class="mb-3">
        <p>
          <b>{{ form.old_password.label_tag }}</b>
        </p>
        {{ form.old_password }}
        {% if form.old_password.errors %}
          <div class="text-danger small mt-1">{{ form.old_password.errors.0 }}</div>
        {% endif %}
      </div>

      <div class="mb-3">
        <p>
          <b>{{ form.new_password1.label_tag }}</b>
        </p>
        {{ form.new_password1 }}
        {% if form.new_password1.help_text %}
          <div class="form-text small text-muted mt-1">{{ form.new_password1.help_text|safe }}</div>
        {% endif %}
        {% if form.new_password1.errors %}
          <div class="text-danger small mt-1">{{ form.new_password1.errors.0 }}</div>
        {% endif %}
      </div>

      <div class="mb-3">
        <p>
          <b>{{ form.new_password2.label_tag }}</b>
        </p>
        {{ form.new_password2 }}
        {% if form.new_password2.errors %}
          <div class="text-danger small mt-1">{{ form.new_password2.errors.0 }}</div>
        {% endif %}
      </div>

      <div class="d-flex justify-content-between mt-4">
        <a href="{% url 'profile' %}" class="btn btn-secondary w-50 me-2">Cancel</a>
        <button type="submit" class="btn btn-danger w-50 ms-2">Save Changes</button>
      </div>
    </form>
  </div>
{% endblock %}
