/* Red / White theme - desktop only */
body {
  font-family: Inter, Arial, sans-serif;
  background: #fff;
  color: #222;
}
.navbar-brand {
  color: #c62828 !important;
}
.btn-danger {
  background-color: #c62828;
  border-color: #b71c1c;
}
.btn-danger:hover {
  background-color: #b71c1c;
}
.card {
  border: 1px solid #eee;
}
.small-muted {
  color: #6c757d;
}
footer {
  background: #fff;
}
.edit-profile-container {
  max-width: 500px;
  margin: 50px auto;
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.edit-profile-container h1 {
  text-align: center;
  color: #d62828;
  margin-bottom: 25px;
}

.edit-profile-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.edit-profile-form label {
  font-weight: bold;
  color: #333;
}

.edit-profile-form input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.btn-save {
  background: #d62828;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s ease;
}

.btn-save:hover {
  background: #b71c1c;
}

.category-item {
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: pointer;
}
.category-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(214, 40, 40, 0.3);
}
.card img {
  height: 150px;
  object-fit: cover;
  border-bottom: 2px solid #d62828;
}
.category-dropdown {
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
  position: relative;
  user-select: none;
}

.dropdown-header {
  padding: 6px 12px;
  cursor: pointer;
  background-color: #f8f9fa;
  border-bottom: 1px solid #ddd;
}

.dropdown-list,
.nested-list {
  list-style: none;
  margin: 0;
  padding: 0 0 0 12px;
  display: none; /* دیفالت بسته */
}

.dropdown-item {
  padding: 4px 12px;
  cursor: pointer;
  position: relative;
  transition: background-color 0.2s;
  border: 1px solid #ddd; /* کمرنگ و باریک */
  border-radius: 3px;
  margin-bottom: 2px;
}


.dropdown-item.selected.parent {
  background-color: #dcdcdcff; /* پررنگ‌تر */
  font-weight: bold;
}


.nested-list .dropdown-item.selected.child {
  background-color: #e0e0e0; /* روشن‌تر */
  font-weight: normal;
}


.dropdown-item:hover {
  background-color: #b8b8b8ff;
}
