{% extends 'core/base.html' %}
{% load static %}
{% block title %}
  Categories
{% endblock %}

{% block content %}
  <h1 class="text-center text-danger mb-4">Categories</h1>

  <div class="row justify-content-center">
    {% for category in root_categories %}
      <div class="col-md-3 col-sm-6 mb-4">
        <div class="card border-danger h-100 category-item text-center">
          {% if category.image %}
            <img src="{{ category.image.url }}" class="card-img-top" alt="{{ category.name }}" />
          {% else %}
            <img src="{% static 'core/defaults/question_mark.jpg' %}" class="card-img-top" alt="{{ category.name }}" />
          {% endif %}
          <div class="card-body">
            <h5 class="card-title text-danger">{{ category.name }}</h5>
          </div>
        </div>
      </div>
    {% empty %}
      <p class="text-center text-muted">There are no categories available.</p>
    {% endfor %}
  </div>


{% endblock %}
